<link rel="stylesheet" href="/css/menu.css">
<section id="our_menu" class="pt-5 pb-5">
<div class="w-50 mx-auto alert alert-success">Hello</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page_title text-center mb-4">
					<h1>MENU</h1>
					<div class="single_line"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<ul class="nav nav-tabs menu_tab mb-4" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="breakfast-tab" data-toggle="tab" href="#breakfast"
						role="tab">Buffet</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="lunch-tab" data-toggle="tab" href="#lunch" role="tab">Alacarte</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="dinner-tab" data-toggle="tab" href="#dinner" role="tab">Extra</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="tab-content col-lg-12" id="myTabContent">
				<div class="tab-pane fade show active" id="breakfast" role="tabpanel" aria-labelledby="breakfast-tab">
					<div class="row">
						<div class="col-md-6">
							{{#each buffets.[0]}}
							<div id="{{pid}}" class="single_menu">
								<img class="pimg" src="/images/Logo/manfu-logo2.png" alt="burger">
								<div class="menu_content">
									<h4 class="pname">{{pname}} </h4>
									
									<span class="price">{{formatCurrency price}}</span>
									
									<p class="pid d-none">{{pid}}</p>

									<div class="qty-box input-group w-auto justify-content-end align-items-center">
										<input type="button" value="-"
											class="button-minus border rounded-circle  icon-shape icon-sm mx-1 "
											data-field="quantity">
										<input type="number" step="1" readonly max="10" value="0" name="quantity"
											class="quantity-field border-0 text-center w-25 ml-2">
										<input type="button" value="+"
											class="button-plus border rounded-circle icon-shape icon-sm "
											data-field="quantity">
									</div>
								</div>
							</div>
							{{/each}}
						</div>

						<div class="col-md-6">
							{{#each buffets.[1]}}
							<div id="{{pid}}" class="single_menu">
								<img class="pimg" src="/images/Logo/manfu-logo2.png" alt="burger">
								<div class="menu_content">
									<h4 class="pname">{{pname}} </h4>
									
									<span class="price">{{formatCurrency price}}</span>
									
									<p class="pid d-none">{{pid}}</p>

									<div class="qty-box input-group w-auto justify-content-end align-items-center">
										<input type="button" value="-"
											class="button-minus border rounded-circle  icon-shape icon-sm mx-1 "
											data-field="quantity">
										<input type="number" step="1" readonly max="10" value="0" name="quantity"
											class="quantity-field border-0 text-center w-25 ml-2">
										<input type="button" value="+"
											class="button-plus border rounded-circle icon-shape icon-sm "
											data-field="quantity">
									</div>
								</div>
							</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="lunch" role="tabpanel" aria-labelledby="lunch-tab">
					<div class="row">
						<div class="col-md-6">
							{{#each alacartes.[0]}}
							<div id="{{pid}}" class="single_menu">
								<img class="pimg" src="/images/Logo/manfu-logo2.png" alt="burger">
								<div class="menu_content">
									<h4 class="pname">{{pname}} </h4>
									
									<span class="price">{{#when price 'gt' 0}}{{formatCurrency price}}{{/when}}</span>
									
									<p class="pid d-none">{{pid}}</p>

									<div class="qty-box input-group w-auto justify-content-end align-items-center">
										<input type="button" value="-"
											class="button-minus border rounded-circle  icon-shape icon-sm mx-1 "
											data-field="quantity">
										<input type="number" step="1" readonly max="10" value="0" name="quantity"
											class="quantity-field border-0 text-center w-25 ml-2">
										<input type="button" value="+"
											class="button-plus border rounded-circle icon-shape icon-sm "
											data-field="quantity">
									</div>
								</div>
							</div>
							{{/each}}
							


						</div>
						<div class="col-md-6">
							{{#each alacartes.[1]}}
							<div id="{{pid}}" class="single_menu">
								<img class="pimg" src="/images/Logo/manfu-logo2.png" alt="burger">
								<div class="menu_content">
									<h4 class="pname">{{pname}} </h4>
									
									<span class="price">{{formatCurrency price}}</span>
									
									<p class="pid d-none">{{pid}}</p>

									<div class="qty-box input-group w-auto justify-content-end align-items-center">
										<input type="button" value="-"
											class="button-minus border rounded-circle  icon-shape icon-sm mx-1 "
											data-field="quantity">
										<input type="number" step="1" readonly max="10" value="0" name="quantity"
											class="quantity-field border-0 text-center w-25 ml-2">
										<input type="button" value="+"
											class="button-plus border rounded-circle icon-shape icon-sm "
											data-field="quantity">
									</div>
								</div>
							</div>
							{{/each}}
							
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="dinner" role="tabpanel" aria-labelledby="dinner-tab">
					<div class="row">
						<div class="col-md-6">
							{{#each extras.[0]}}
							<div id="{{pid}}" class="single_menu">
								<img class="pimg" src="/images/Logo/manfu-logo2.png" alt="burger">
								<div class="menu_content">
									<h4 class="pname">{{pname}} </h4>
									
									<span class="price">{{formatCurrency price}}</span>
									
									<p class="pid d-none">{{pid}}</p>

									<div class="qty-box input-group w-auto justify-content-end align-items-center">
										<input type="button" value="-"
											class="button-minus border rounded-circle  icon-shape icon-sm mx-1 "
											data-field="quantity">
										<input type="number" step="1" readonly max="10" value="0" name="quantity"
											class="quantity-field border-0 text-center w-25 ml-2">
										<input type="button" value="+"
											class="button-plus border rounded-circle icon-shape icon-sm "
											data-field="quantity">
									</div>
								</div>
							</div>
							{{/each}}


						</div>
						<div class="col-md-6">
							{{#each extras.[1]}}
							<div id="{{pid}}" class="single_menu">
								<img class="pimg" src="/images/Logo/manfu-logo2.png" alt="burger">
								<div class="menu_content">
									<h4 class="pname">{{pname}} </h4>
									
									<span class="price">{{formatCurrency price}}</span>
									
									<p class="pid d-none">{{pid}}</p>

									<div class="qty-box input-group w-auto justify-content-end align-items-center">
										<input type="button" value="-"
											class="button-minus border rounded-circle  icon-shape icon-sm mx-1 "
											data-field="quantity">
										<input type="number" step="1" readonly max="10" value="0" name="quantity"
											class="quantity-field border-0 text-center w-25 ml-2">
										<input type="button" value="+"
											class="button-plus border rounded-circle icon-shape icon-sm "
											data-field="quantity">
									</div>
								</div>
							</div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
			<a href="#" class=" menu_btn btn btn-danger">view more</a>
		</div>
	</div>

	<div type="button" class="cartBtn" data-toggle="modal" data-target="#cartModal">
		<i class="fas fa-shopping-cart"></i><span class="total-price"> {{total}}đ</span>
	</div>
	<div type="button" class="cartBtn left-hand" data-toggle="modal" data-target="#orderModal">
		<i class="fas fa-sync fa-spin "></i><span> Bàn {{table_ID}} </span>
	</div>

</section>

<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header border-bottom-0">
				<h5 class="modal-title" id="orderModal">
					Danh sách món ăn đã gọi
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-image">
					<thead>
						<tr>
							
							<th scope="col">Món ăn</th>
							<th scope="col">Số lượng</th>
							<th scope="col">Gọi lúc</th>
							<th scope="col">Tình trạng</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody id="orderBody">
						

					</tbody>
				</table>
				<div class="d-flex justify-content-end">
					<h5>Total: <span class="total-price text-success">0đ</span></h5>
				</div>
			</div>
			<div class="modal-footer border-top-0 d-flex justify-content-between">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Trở về</button>
				<button type="button" data-toggle="modal" data-target="#modalBill" 
						class="btn btn-success btnBill">Tính tiền</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header border-bottom-0">
				<h5 class="modal-title" id="exampleModalLabel">
					Order Món Ăn
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-image">
					<thead>
						<tr>
							
							<th scope="col">Món ăn</th>
							<th scope="col">Đơn giá</th>
							<th scope="col">Số lượng</th>
							<th scope="col">Tổng</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody id="cartBody">
						{{!-- <tr>
							<td class="w-25">
								<img src="https://i.imgur.com/lYKUORL.jpg" class="img-fluid img-thumbnail" alt="Sheep">
							</td>
							<td>Tàu hũ ky</td>
							<td>0đ</td>
							<td class="qty">0</td>
							<td>0đ</td>
							<td>
								<a href="#" class="btnRemoveCart btn btn-danger btn-sm">
									<i class="fa fa-times"></i>
								</a>
							</td>
						</tr> --}}

					</tbody>
				</table>
				<div class="d-flex justify-content-end">
					<h5>Total: <span class="total-price text-success">0đ</span></h5>
				</div>
			</div>
			<div class="modal-footer border-top-0 d-flex justify-content-between">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Trở về</button>
				<button data-dismiss="modal" style="background-color: crimson; border-color: crimson" type="button"
						class="btn btn-success btnPlaceOrder">Gọi món</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalBill" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tính tiền bàn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn muốn tính tiền ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở về</button>
        <a href="/client/tinh-tien" type="button" class="btn btn-primary">Xác nhận</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalCancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hủy order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn hủy order này ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở về</button>
        <button  type="button" class="btnConfirmCancel btn btn-primary">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

<div id="bill_ID" class="d-none">{{bill_ID}}</div>

<script src="/js/menu.js"></script>