<section class='section mb-0 top-section danhmuc-subcate section-boxed section-height-default section-height-default'
    data-aos='fade-up'
    >
    <div class='container -gap-default'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='breadcrumb'>
                    <div class='container'>
                        <nav class='nav breadcrumb'>
                            <span class='nmr-crumb'>
                                <a class='nav-link p-1' href='/'></a>
                            </span>
                            <span class='nmr-crumb'>
                                <a class='nav-link p-1' href='/'>
                                    <i class='fa fa-angle-right'></i>
                                    {{product.category.title}}
                                </a>
                            </span>

                            <span class='nmr-crumb'>
                                <a class='nav-link p-1' href='/'>
                                    <i class='fa fa-angle-right'></i>
                                    {{product.pname}}
                                </a>
                            </span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class='section m-0 pb-0 ' data-aos='fade-up'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-5'>
                <div class='product-images position-relative'>
                    <div class='widget-container'>
                        {{#when product.frame.[0].rate 'gt' 0}}
                            <span class='onsale'>-{{product.frame.[0].rate}}%</span>
                        {{/when}}

                        <div
                            class='product-gallery product-gallery--with-images product-gallery--columns-4 images'
                            style='opacity: 1; transition: opacity 0.25s ease-in-out 0s;'
                        >
                            <a href='#' class='product-gallery__trigger' style='display: none;'>
                                <img
                                    draggable='false'
                                    role='img'
                                    class='emoji'
                                    alt='🔍'
                                    src='https://s.w.org/images/core/emoji/13.0.1/svg/1f50d.svg'
                                />
                            </a>
                            <figure class='product-gallery__wrapper'>
                                <div class='product-gallery__image' style='position: relative; overflow: hidden;'>
                                    <img
                                        width='600'
                                        height='600'
                                        src='{{product.pimg.[0]}}'
                                        class='wp-post-image'
                                        alt=''
                                        title='N.SCU-G1691'
                                    />

                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class='col-md-7 mt-0 mt-sm-0 pt-2 pt-sm-0'>
                <div class='section-title ms-md-4 product-details'>

                    <div class='row pt-0'>

                        <div class='col-lg-12'>
                            <div class='product-title'>
                                <h2
                                    class='product_title entry-title elementor-heading-title elementor-size-default'
                                >{{product.pname}}</h2>
                            </div>
                            
                            <div class='product_meta'>
                                <span class='sku_wrapper detail-container'>
                                    <span class='detail-label'>
                                        Mã Sản Phẩm:
                                    </span>
                                    <span class='sku'>{{product.frame.[0].pid.[0]}}</span>
                                </span>
                            </div>
                        </div>
                        <div class='col-lg-12 col-12'>

                            <div class='d-flex shop-list align-items-center my-4'>
                                <h6 class='mb-0 shop-list-title'>Giá niêm yết:</h6>
                                <div class='ms-3'>
                                    <h5 class='text-muted product-price'>
                                        <span {{#when product.frame.[0].rate 'gt' 0}}style="text-decoration: line-through; color: grey"{{/when}} class='Price-amount amount'>
                                            {{formatCurrency product.frame.[0].price}}
                                        </span>
                                    </h5>
                                </div>
                            </div>
                            {{#when product.frame.[0].rate 'gt' 0}}
                            <div class='d-flex shop-list align-items-center my-4'>
                                <h6 class='mb-0 shop-list-title'>Giảm:</h6>
                                <div class='ms-3'>
                                    <h5 class='text-muted product-price'>
                                        <span class='Price-amount amount'>
                                            {{product.frame.[0].rate}}%
                                        </span>
                                    </h5>
                                </div>
                            </div>
                            <div class='d-flex shop-list align-items-center my-4'>
                                <h6 class='mb-0 shop-list-title'>Giá khuyến mãi:</h6>
                                <div class='ms-3'>
                                    <h5 class='text-muted product-price'>
                                        <span class='Price-amount amount'>
                                            {{formatCurrency product.frame.[0].discount}}
                                        </span>
                                    </h5>
                                </div>
                            </div>
                            {{/when}}

                            <div class='d-flex align-items-center'>
                                <h6 class='mb-0 shop-list-title'>Chất liệu:</h6>
                                <ul class='product-detail-item list-unstyled mb-0 ms-3'>
                                    <li class='list-inline-item'>
                                        <a
                                            href='javascript:void(0)'
                                            class='btn btn-icon btn-soft-primary chose'
                                        >{{product.material}}</a>
                                    </li>
                                </ul>
                            </div>

                            <div class='d-flex align-items-center'>
                                <h6 class='mb-0 shop-list-title'>Màu sắc:</h6>
                                <ul class='product-detail-item list-unstyled mb-0 ms-3'>
                                    {{#each product.frame.[0].colors as |item|}}
                                        <li class='list-inline-item'>
                                            <a
                                                href='javascript:void(0)'
                                                class='btn btn-icon btn-soft-primary {{#equal @index 0}}chose{{/equal}}'
                                            >{{item}}</a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class='d-flex align-items-center'>
                                <h6 class='mb-0 shop-list-title'>Kích thước:</h6>
                                <ul class='product-detail-item list-unstyled mb-0 ms-3'>
                                    {{#each product.frame as |item|}}
                                        <li class='list-inline-item'>
                                            <a
                                                href='javascript:void(0)'
                                                class='btn btn-icon btn-soft-primary {{#equal @index 0}}chose{{/equal}}'
                                            >{{item.size}}</a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        <!--end col-->

                        <div class='col-lg-12 col-12 mt-5 mt-lg-0 px-0'>
                            <div class='row'>
                                <div class='col-lg-5 col-12'>
                                    <div class='d-flex shop-list align-items-center mt-2'>
                                        <h6 class='mb-0 shop-list-title'>Số lượng:</h6>
                                        <div class='qib-container ms-3'>
                                            <button type='button' class='minus qib-button'>-</button>
                                            <div class='quantity buttons_added'>
                                                <label class='screen-reader-text' for='quantity_6362c544d0f1c'>Bộ Bàn
                                                    Trang Điểm Hiện Đại H&amp;H SCU-G1691 số lượng</label>
                                                <input
                                                    type='number'
                                                    id='quantity_6362c544d0f1c'
                                                    class='input-text qty text'
                                                    step='1'
                                                    min='1'
                                                    max=''
                                                    name='quantity'
                                                    value='1'
                                                    title='SL'
                                                    size='4'
                                                    placeholder=''
                                                    inputmode='numeric'
                                                />
                                            </div>
                                            <button type='button' class='plus qib-button'>+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-lg-12 col-12 mt-3'>
                                    <div class='d-block'>
                                        <ul class='product-detail-item list-unstyled mb-0 p-0'>
                                            <li class='list-inline-item'>
                                                <a
                                                    href='javascript:void(0)'
                                                    class='btn-submit btn btn-icon btn-soft-primary'
                                                >Thêm vào giỏ hàng</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--end col-->

                        <div class='col-md-12 mt-4'>
                            <div class='row'>

                                <div class='col-md-3 col-12 d-flex mt-2'>
                                    <div
                                        class='share-btn share-btn_facebook'
                                        tabindex='0'
                                        aria-label='Share on facebook'
                                    >
                                        <span class='share-btn__icon'>
                                            <i class='fab fa-facebook' aria-hidden='true'></i>
                                        </span>
                                    </div>
                                    <div class='share-btn share-btn_twitter' tabindex='0' aria-label='Share on twitter'>
                                        <span class='share-btn__icon'>
                                            <i class='fab fa-twitter' aria-hidden='true'></i>
                                        </span>
                                    </div>
                                    <div
                                        class='share-btn share-btn_linkedin'
                                        tabindex='0'
                                        aria-label='Share on linkedin'
                                    >
                                        <span class='share-btn__icon'>
                                            <i class='fab fa-linkedin' aria-hidden='true'></i>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-md-9 col-12 d-flex mt-2'>
                                    <div class='bg-white pr-2 mt-10'>
                                        <div
                                            data-layout='standard'
                                            data-colorscheme='light'
                                            data-size='small'
                                            data-show-faces='false'
                                            class='pt-1 pl-1 elementor-facebook-widget fb-like fb_iframe_widget'
                                            data-href='https://hhfurniture.com.vn?p=1533'
                                            data-share='true'
                                            data-action='like'
                                            fb-xfbml-state='rendered'
                                            fb-iframe-plugin-query='action=like&amp;app_id=&amp;color_scheme=light&amp;container_width=329&amp;href=https%3A%2F%2Fhhfurniture.com.vn%2F%3Fp%3D1533&amp;layout=standard&amp;locale=en_GB&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small'
                                        ><span style='vertical-align: bottom; width: 450px; height: 28px;'><iframe
                                                    name='f34039cc12b9d8'
                                                    width='1000px'
                                                    height=''
                                                    data-testid='fb:like Facebook Social Plugin'
                                                    title='fb:like Facebook Social Plugin'
                                                    frameborder='0'
                                                    allowtransparency='true'
                                                    allowfullscreen='true'
                                                    scrolling='no'
                                                    allow='encrypted-media'
                                                    src='https://www.facebook.com/v14.0/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2092ad92b3f79%26domain%3Dhhfurniture.com.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fhhfurniture.com.vn%252Ff5dbda1e2f9528%26relation%3Dparent.parent&amp;color_scheme=light&amp;container_width=329&amp;href=https%3A%2F%2Fhhfurniture.com.vn%2F%3Fp%3D1533&amp;layout=standard&amp;locale=en_GB&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small'
                                                    style='border: none; visibility: visible; width: 450px; height: 28px;'
                                                    class=''
                                                ></iframe></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='col-md-12 mt-4 product-detail-features position-relative'>
                            <div class='widget-container'>
                                <div class='button-wrapper'>
                                    <a href='#' class='button-link button size-sm' role='button'>
                                        <span class='button-content-wrapper'>
                                            <span class='button-text'>Ghi chú</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class='product-features'>
                                <div class='widget-container pt-3'>
                                    <ul class='list-unstyled icon-list-items'>
                                        <li class='icon-list-item'>
                                            <span class='icon-list-icon'>
                                                <i aria-hidden='true' class='fas fa-check'></i>
                                            </span>
                                            <span class='icon-list-text text-light'>Giá chưa bao gồm phí VAT và phí vận
                                                chuyển ngoại thành</span>
                                        </li>
                                        <li class='icon-list-item'>
                                            <span class='icon-list-icon'>
                                                <i aria-hidden='true' class='fas fa-check'></i>
                                            </span>
                                            <span class='icon-list-text text-light'>Bảo hành: liên hệ</span>
                                        </li>
                                        <li class='icon-list-item'>
                                            <span class='icon-list-icon'>
                                                <i aria-hidden='true' class='fas fa-check'></i>
                                            </span>
                                            <span class='icon-list-text text-light'>Nhập khẩu 100%</span>
                                        </li>
                                        <li class='icon-list-item'>
                                            <span class='icon-list-icon'>
                                                <i aria-hidden='true' class='fas fa-check'></i>
                                            </span>
                                            <span class='icon-list-text text-light'>Miễn phí vận chuyển nội thành HCM</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--end row-->

                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

ction>

<section class='section m-4'>
    <div class='container products'>
        <div class='row'>
            <div class='col-md-8' data-aos='fade-up'>
                <div class='row'>
                    <div class='col-md-4 posts--thumbnail-left _width-initial posts'>
                        <div class='heading-title-arround p-1'>
                            <h2 class='heading-title size-default fs-6 text-start' style='text-transform: uppercase;'>
                                Mô tả sản phẩm
                            </h2>
                        </div>
                    </div>
                    <div class='text-light widget-container'>
                        <p>– Thương hiệu H&amp;H<br />
                            – Nhập khẩu 100%<br />
                            – Chất liệu: Gỗ tự nhiên, da bò cao cấp<br />
                            – Kích thước: G: 1800*2000 – T: 620*420*630<br />
                            – Màu sắc: Màu đỏ<br />
                            – Ứng dụng: Phòng ngủ<br />
                            – Bảo hành: Khung gỗ bảo hành 5 năm, da bọc, đệm mút 12 tháng, phụ kiện khác 12 tháng</p>
                    </div>

                    <div class='col-md-4 posts--thumbnail-left _width-initial posts'>
                        <div class='heading-title-arround p-1'>
                            <h2 class='heading-title size-default fs-6 text-start' style='text-transform: uppercase;'>
                                SẢN PHẨM LIÊN QUAN
                            </h2>
                        </div>
                    </div>
                    
                    <div class='col-md-8'></div>
                    {{#each lsProduct}}
                        <div class='col-md-3 px-1'>
                            {{> productPartials hasButton=true}}
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class='col-md-4 p-1' style='border:3px solid #ffba00' data-aos='fade-up'>
                <div class='row'>
                    <div class='-1 posts--thumbnail-left _width-initial posts'>
                        <div class='heading-title-arround p-1'>
                            <h2 class='heading-title size-default fs-6 text-start' style='text-transform: uppercase;'>
                                SẢN PHẨM KHUYẾN MÃI
                            </h2>
                        </div>
                    </div>
                    {{#each lsProduct as |product|}}
                        {{#if discount}}
                            <div class='col-md-6'>
                                {{> productPartials}}
                            </div>
                        {{/if}}
                    {{/each}}

                    <div class='posts--thumbnail-left _width-initial posts'>
                        <div class='heading-title-arround p-1'>
                            <h2 class='heading-title size-default fs-6 text-start' style='text-transform: uppercase;'>
                                SẢN PHẨM Bán chạy
                            </h2>
                        </div>
                    </div>
                    {{#each lsProduct as |product|}}
                        {{#if isHot}}
                            <div class='col-md-6'>
                                {{> productPartials}}
                            </div>
                        {{/if}}
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
</section>