{{#if success}}
    <div class='alert alert-success alert-dismissible fade show' role='alert'>
        {{success}}
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
        </button>
    </div>
{{/if}}

{{#if error}}
    <div class='alert alert-danger alert-dismissible fade show' role='alert'>
        {{error}}
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
        </button>
    </div>
{{/if}}

<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='card shadow'>
                <div class='card-header d-flex justify-content-between'>
                    <h4>{{pageName}}</h4>
                    <a href='/admin/create-product' class='btn btn-success'><i class='fa-solid fa-plus'></i>
                        Thêm sản phẩm</a>
                </div>
                <div class='card-body'>
                    <table class='table table-hover data-table'>
                        <thead class='thead-light'>
                            <tr>
                                <th scope='col'>Hình ảnh</th>
                                <th scope='col'>Tên</th>
                                <th scope='col'>Mã</th>
                                <th scope='col'>Danh mục</th>
                                <th scope='col'>Giá</th>
                                <th scope='col'>Độ ưu tiên</th>
                                <th scope='col'>Điều chỉnh</th>
                                <th scope='col'></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#if products}}
                                {{#each products}}
                                    <tr>
                                        <td><img src='{{pimg}}' alt='' width='70%' /></td>
                                        <td>{{pname}}</td>
                                        <td>
                                            {{pid}}
                                        </td>
                                        <td>       
                                            {{category}}
                                        </td>
                                        <td>
                                                {{formatCurrency price}}
                                        </td>
                                        <td>
                                            {{priority}}
                                        </td>
                                        <td class='d-flex'>
                                            <!-- Button trigger modal -->
                                            <a class='text-info w-100' href='/admin/preview-product/{{pid}}'>
                                                <i class='fa-solid fa-eye fa-lg'></i>
                                            </a>
                                            <!-- Button trigger modal -->
                                            <a class='text-warning w-100' href='/admin/update-product/{{pid}}'>
                                                <i class='fas fa-edit fa-lg'></i>
                                            </a>
                                            <!-- Button trigger modal -->
                                            <a
                                                style="cursor: pointer"
                                                class='text-danger w-100 delBtn'
                                                data-available="{{is_available}}"
                                                data-pid="{{pid}}"
                                                data-toggle='modal'
                                                data-target='#deleteModal'
                                                onclick="$('#deleteBtn').attr('href', '/admin/delete-product/{{pid}}')"
                                                
                                            >   
                                                <i class='fas fa-trash fa-lg'></i>
                                                
                                            </a>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input class="switchBtn" {{#if is_available}}checked{{/if}} type="checkbox">
                                                
                                                <span class="slider"></span>
                                                <input class="switch_pid" type="hidden" value="{{pid}}">
                                                <input class="switch_available" type="hidden" value="{{is_available}}">
                                            </label>
                                        </td>
                                    </tr>
                                {{/each}}
                            {{else}}
                                <tr><td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class='modal fade' id='deleteModal'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Cảnh báo</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                Nếu bạn xóa sản phẩm này rất có thể sẽ ảnh hưởng đến các bản ghi khác ? Bạn vẫn chắc chắn sẽ xóa nó ?
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy</button>
                <a type='button' id='deleteBtn' class='btn btn-danger'>Xác nhận</a>
            </div>
        </div>
    </div>
</div>

<script>
    $('.switchBtn').click(function() {
        
        let pid = $(this).siblings('.switch_pid').val();
        let is_available = $(this).siblings('.switch_available').val();
        
        $.ajax({
            url: `/admin/status-product/${pid}/${is_available}`,
            method: 'GET',
            success: function(result) {
               
            },
            error: function(err) {
                alert(err);
            }
        })
    })
</script>